<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <connectionStrings>
   <add name="ShopTeaConnectionString"
        connectionString="data source=LAPTOP-8HJ85GUS\ODESI;initial catalog=ShopTea;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
        providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
